<!DOCTYPE html>

<%- include('../partials/head') %>

<body class="container">
  
  <%- include('../partials/header', {pagina: 'sobre'}) %>

  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Olá, meu nome é Mauricio P. Reis, sou formado em analise de sistemas pela UEPA - Campus castanhal, trabalho como analista de suporte tecnico e sou estudande de programação da Rocketseat.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>